
#container{
    border: 4px solid gold;
    width: auto;
    height: auto;
    background-color: black;
    font-family: "Orbitron", sans-serif;
}

#mainContainer{
    border: 4px solid gold;
    width: auto;
    height: auto;
    background-color: black;
    font-family: "Orbitron", sans-serif;
    text-align: center;
}

#castContainer{
    border: 4px solid gold;
    width: auto;
    height: auto;
    background-color: black;
    font-family: "Orbitron", sans-serif;   
}

#revContainer{
    border: 4px solid gold;
    width: auto;
    height: auto;
    background-color: black;
    font-family: "Orbitron", sans-serif;
}

#header h1{
    font-weight: 900;
    font-size: 40px;
    text-align: center;
    color: gold;
}

#nav{
    font-weight: 600;
    font-size: larger;
    font-style: normal;
    border-top: 2px solid gold;
    border-bottom: 2px solid gold;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

.nav-btn{
    color: gold;
}

.nav-btn:hover{
    color: red
}

#nav h2{
    text-align: center;
    font-size: 25px;
    color: gold
}

#ep1:hover{
    border: solid 3px blue;
}

#ep2:hover{
    border: solid 3px goldenrod;
}

#ep3:hover{
    border: solid 3px red;
}

#ep4:hover{
    border: solid 3px purple;
}

#ep5:hover{
    border: solid 3px silver;
}

#ep6:hover{
    border: solid 3px olivedrab;
}

#ep7:hover{
    border: solid 3px orange;
}

#ep8:hover{
    border: solid 3px red;
}

#ep9:hover{
    border: solid 3px lightskyblue;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#content{
    color:gold;
    padding-left: 15px;
    padding-right: 15px;
}

#content h2{
    text-align: center;
    font-size: 25px;
    color: gold
}

#content h3{
    text-align: center;
    color: gold
}

#homeTitle{
    font-size:0px;
}

#homeInfo{
    text-align: left;
    border-top: 2px solid gold;
}

#footer{
    color: gold;
    text-align: bottom;
    padding-top: 5px;
    padding-left: 10px;
}

#hayden{
    border-bottom: 2px solid gold;
}

#hayden h2{
    text-align: left;
}

#ewan{
    border-bottom: 2px solid gold;
}

#ewan h2{
    text-align: left;
}

#ian{
    border-bottom: 2px solid gold;
}

#ian h2{
    text-align: left;
}

#hayden{
    border-bottom: 2px solid gold;
}

#natalie h2{
    text-align: left;
}

#cast h2{
    text-align: left;
}

#footer{
    padding-bottom: 2px;
}

.bio{
    padding-left: 300px;
}

.clear{
        clear: left;
        padding-top: 10px;
}

#anakin{
    float:left;
}

#obiWan{
    float:left;
}

#sheev{
    float:left;
}

#padme{
    float:left;
}

#anakin::before{
    content: '';
    position: absolute;
    width: 250px;
    height: 360px;
    background-image: url("../Images/Anakin_Skywalker_RotS.webp");
    background-size: cover;
    background-position: center;
    opacity: 0;
    z-index: 0;
}

#anakin:hover::before{
   opacity: 1;
     transition: opacity 2s ease-in-out; 
}

#obiWan::before{
    content: '';
    position: absolute;
    width: 250px;
    height: 360px;
    background-image: url("../Images/obi-wan.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0;
    z-index: 0;
}

#obiWan:hover::before{
   opacity: 1;
     transition: opacity 2s ease-in-out; 
}

#sheev::before{
    content: '';
    position: absolute;
    width: 250px;
    height: 250px;
    background-image: url("../Images/Palpatine.webp");
    background-size: cover;
    background-position: center;
    opacity: 0;
    z-index: 0;
}

#sheev:hover::before{
   opacity: 1;
     transition: opacity 2s ease-in-out; 
}

#padme::before{
    content: '';
    position: absolute;
    width: 250px;
    height: 250px;
    background-image: url("../Images/Padme.avif");
    background-size: cover;
    background-position: center;
    opacity: 0;
    z-index: 0;
}

#padme:hover::before{
   opacity: 1;
     transition: opacity 2s ease-in-out; 
}